@import "~react-image-gallery/styles/css/image-gallery.css";

ncode {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.App {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Jura", sans-serif;
    color: #00d0ff;
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
}

.App::before {
    content: " ";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /* background: url("/public/img/vinyl_record-wallpaper-2560x1600.jpg"); */
    background: url("/public/img/fondo_1.jpg");

    filter: blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
}

.header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 20vh;
    /* font-size: calc(10px + 2vmin); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: "Jura", sans-serif;
    color: #00d0ff;
    padding-bottom: 10px;
}

a {
    color: #61dafb;
    transition: color 0.2s ease-in-out;
}
a.active {
    color: rgb(255, 255, 255);
}
p.active {
    text-decoration: double;
}
.footer {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    min-height: 15vh;
    /* font-size: calc(10px + 2vmin); */
    color: #00d0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Jura", sans-serif;
}

.header h1,
h2,
h3 {
    text-shadow: 0 0 10px black;
}

.headNavBar {
    width: 70%;
}

.titleName {
    width: 70%;
    text-align: left;
}

.icons {
    width: 15%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.mainWrapper {
    position: relative;
    opacity: 1;
    justify-content: center;
    display: flex;
    align-self: center;
    min-height: 80vh;
}

.page {
    position: relative;
}

.page-enter {
    opacity: 0;
    transform: scale(1.1);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 200ms, transform 200ms;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 200ms, transform 200ms;
}

.mainWrapper p {
    text-shadow: 0 0 10px black;
}

.secondaryWrapper {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.contact {
    text-align: center;
    height: 100vh;
}

.leftSide {
    width: 70%;
    padding-right: 5%;
}
.rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.justifyCenter {
    justify-content: center;
}

.whenSubComponent {
    flex-direction: column;
    align-items: center;
}
.projects {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.indivProject {
    box-sizing: border-box;
    width: 48%;
    height: 40%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
}

.projText {
    width: 80%;
    padding-right: 10px;
}

.projImg {
    object-fit: cover;
    max-height: 40%;
    max-width: 40%;
    border: 0.5px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 10px black;
}

.imgBody {
    max-width: 80%;
    height: auto;
    object-fit: cover;
    margin-top: 85px;
    border: 0.5px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 10px black;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    transition: color 2s ease-in-out;
}

.buttons h3 {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #00d0ff;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    text-shadow: 0 0 3px black;
}

p {
    color: white;
    text-shadow: 0px 0 3px black;
    font-size: 14px;
    font-family: "Jura", sans-serif;
}

.fh3 {
    color: white;
    text-shadow: 0px 0 3px;
    font-size: 16px;
    font-family: "Jura", sans-serif;
}

.neonText2 {
    color: white;
    text-shadow: 0 0 10px black;
}

.neonText {
    color: #00d0ff;
    text-shadow: 0 0 5px black;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
}

/* texts */

.subtitle {
    margin-top: 0;
    font-size: 25px;
    color: white;
}

.subtitle2 {
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

.margin {
    margin-top: 15px;
    margin-bottom: 10px;
}

.title {
    margin-bottom: 0;
    font-size: 40px;
    color: #00d0ff;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.cv {
    font-size: 85%;
}
.cv li {
    margin-bottom: 5px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    list-style-type: disc;
    list-style-position: inside;
    padding: 5px;
    text-align: left;
    list-style-type: none;
}

.cv h3 {
    color: white;
    text-shadow: 0 0 10px black;
}

.co h3 {
    padding-left: 0;
}
.co {
    padding-inline-start: 0;
}
.co li {
    margin-bottom: 2px;
    font-size: 14px;
    color: white;
    list-style-type: none;
    text-shadow: 0px 0 1px white;
    padding-left: 0;
    text-decoration: none;
    font-family: "Jura", sans-serif;
}

.bigP p {
    font-size: 16px;
}

/* videos */
.video-responsive {
    overflow: hidden;
    padding-bottom: 60.25%;

    position: relative;
    height: 0;
}

.video-responsive iframe {
    height: 95%;
    width: 95%;
    position: absolute;
}

.videos {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
}

.flexEnd {
    align-items: flex-end;
}

.project {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    opacity: 1;
}

.imgBody2 {
    max-width: 90%;
    height: auto;
    object-fit: cover;
    margin-top: 0px;
    margin-right: 0;
    border: 0.5px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 10px black;
}

.contact {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.column {
    flex-direction: column;
}

.contactDiv {
    margin-top: 5%;
    margin-bottom: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galleryWrapper {
    display: flex;
    justify-content: center;

    max-height: 60%;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

@media only screen and (max-width: 600px) {
    .mainWrapper {
        flex-direction: row;
    }
    .titleName {
        width: 70%;
        text-align: center;
    }
    .headNavBar {
        flex-direction: column;
    }
    .secondaryWrapper {
        flex-direction: column;
        text-align: center;
        text-align: justify;
        width: 80%;
    }
    .galleryWrapper {
        align-self: center;
        text-align: center;
        display: inline;
        max-width: 95%;
        flex-flow: inherit;
    }
    .rightSide {
        width: 100%;
    }
    .leftSide {
        width: 100%;
        padding-right: 0%;
    }
    .imgBody {
        margin-top: 40px;
    }

    .bigP p,
    ul,
    .cv li {
        font-size: 115%;
    }
    .cv h3 {
        color: white;
        text-shadow: 0 0 10px black;
    }
    .co,
    .co li {
        font-size: 85%;
    }
    h3 {
        text-align: left;
    }
    .indivProject {
        font-size: 80%;
        flex-direction: column;
    }
    .neonText {
        text-align: center;
    }
    .neonText2,
    .subtitle,
    .subtitle2,
    h3,
    p {
        text-align: center;
    }
    .icons {
        width: 40%;
    }
    .contact {
        padding-top: 5%;
    }
    .projects {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .indivProject {
        width: 100%;
        padding-bottom: 20px;
    }
    .projImg {
        object-fit: cover;
        max-width: 60%;
        align-self: center;
    }
}
