@import "~react-image-gallery/styles/css/image-gallery.css";

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Jura", sans-serif;
    color: #00d0ff;
}

.header {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    min-height: 10vh;
    font-size: calc(14px + 2vmin);
    display: flex;
    color: #00d0ff;
    font-family: "Jura", sans-serif;
}

.bodyDiv {
    display: block;
    width: 75%;
    margin: auto;
    text-align: justify;
    justify-content: center;
}

.prueba {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.one {
    width: 60%;
}
.two {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 35%;
}

.imgBody {
    max-width: 95%;
    height: auto;
    object-fit: cover;
    margin-top: 100px;
    border: 1px solid yellow;
    box-shadow: 5px 5px 10px black;
}

.footer {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    min-height: 10vh;
    font-size: calc(10px + 2vmin);
    color: #00d0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: "Jura", sans-serif;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Buttons {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #00d0ff;
    margin-bottom: 30px;
    font-size: 18px;
    text-shadow: 0 0 2px black;
}

p {
    color: white;
    text-shadow: 0px 0 1px white;
    font-size: 12px;
}

.neonText {
    color: #00d0ff;
    text-shadow: 0 0 2px black;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* texts */

.subtitle {
    margin-top: 0;
    font-size: 24px;
    color: white;
}

.title {
    margin-bottom: 0;
    font-size: 40px;
    color: #00d0ff;
}

.cv {
    font-size: 85%;
}
.cv li {
    margin-bottom: 5px;
    color: white;
}

.co h3 {
    padding-left: 0;
}
.co {
    padding-inline-start: 0;
}
.co li {
    margin-bottom: 2px;
    font-size: 12px;
    color: white;
    list-style-type: none;
    text-shadow: 0px 0 1px white;
    padding-left: 0;
    text-decoration: none;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    height: 95%;
    width: 95%;
    position: absolute;
}

.videos {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    width: 38%;
    justify-content: space-evenly;
}

.project {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.projText {
    width: 65%;
    padding-right: 10px;
}

.projImg {
    width: 35%;
    display: block;
}

.imgBody2 {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 10px;
    margin-right: 0;
    border: 1px solid yellow;
    box-shadow: 5px 5px 10px black;
}

.contact {
    font-size: 14px;
}

.contactDiv {
    margin-top: 5%;
    margin-bottom: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle2 {
    margin-top: 20px;
    font-size: 24px;
    color: white;
    padding-bottom: 5%;
}

/* Player */

.c-player {
    display: block;
    margin: 0px auto;
    padding: 10px;
    border-radius: 16px;
    box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8),
        inset 6px 6px 12px rgba(0, 0, 0, 0.8);
}

.c-player > h4 {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.c-player > p {
    color: #aaa;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

.c-player > p span {
    font-weight: 400;
}

.c-player--details .details-img {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.c-player--details .details-img img {
    display: block;
    margin: 50px auto;
    width: 100%;
    max-width: 120px;
    border-radius: 50%;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8),
        -6px -6px 12px rgba(255, 255, 255, 0.4);
}

.c-player--details .details-img:after {
    content: "";
    display: block;
    position: absolute;
    top: -25px;
    left: -25px;
    right: -25px;
    bottom: -25px;
    border-radius: 50%;
    border: 3px dashed rgba(255, 206, 0, 1);
}

.c-player--details .details-title {
    color: #eee;
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
        -2px -2px 4px rgba(255, 255, 255, 0.4);
    text-align: center;
    margin-bottom: 10px;
}

.c-player--details .details-artist {
    color: #aaa;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
        -2px -2px 4px rgba(255, 255, 255, 0.4);
    text-align: center;
    margin-bottom: 20px;
}

.c-player--controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.c-player--controls .play-btn {
    display: flex;
    margin: 0 30px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8),
        -4px -4px 10px rgba(255, 255, 255, 0.4),
        inset -4px -4px 10px rgba(0, 0, 0, 0.4),
        inset 4px 4px 10px rgba(255, 255, 255, 0.4);
    border: none;
    outline: none;
    background-color: #ffce00;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.c-player--controls .skip-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #888;
    font-size: 18px;
}

.MainPlayer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.deckRecords {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
