body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
        url("/public/img/fondo_5.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    /* background-blend-mode: soft-light; */
    background-attachment: fixed;
    /* backdrop-filter: grayscale(1); */
}

ncode {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
